# Ignore files created by .tex compilation
*.aux
*.fls
*.fdb_latexmk
*.log
*.out
*.synctex.gz
*.toc
*.pdf

# Cliquer library
cliquer-*

# Miscellaneous system files
*.DS_Store
.vscode/

# Side-effects of profiling/running
logs/
.ipynb*/
__pycache__/
*.lprof*
*.gexf
*.graphml

